<!DOCTYPE html>
<html>

<head>
    <title>h5 demo</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body oncontextmenu="return false;" onselectstart="return false;">
      <!-- <div class="header"> 你画我猜 </div> -->
        <canvas id='canvas'></canvas>
        <ul class="lineWidth">
            <li onclick="changeline(1)"></li>
            <li onclick="changeline(2)"></li>
            <li onclick="changeline(3)"></li>
            <li onclick="changeline(4)"></li>
            <li onclick="changeline(5)"></li>
            <li onclick="changeline(6)"></li>
            <li onclick="changeline(7)"></li>
        </ul>
        <ul class="lineColor">
            <li onclick="changeColor('rgb(255,255,255)')"></li>
            <li onclick="changeColor('rgb(100,255,255)')"></li>
            <li onclick="changeColor('rgb(255,100,255)')"></li>
            <li onclick="changeColor('rgb(255,255,100)')"></li>
            <li onclick="changeColor('rgb(200,255,255)')"></li>
            <li onclick="changeColor('rgb(255,200,255)')"></li>
            <li onclick="changeColor('rgb(255,255,200)')"></li>
        </ul>
        <div>
            <a id='c' class="btn">清除</a>
            <span id='time'>倒计时</span>
            <span id='user'>无画师</span>
        </div>
        <div>
            <a id='restore' class="btn">撤销</a>
            <span id='question'>暂无谜题</span>
        </div>
        <div>
            <a id='login' class="btn">登录</a>
            <span id='question'>暂无谜题</span>
        </div>

        <script>
          function getQueryString(name) {
              var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
              var r = window.location.search.substr(1).match(reg);
              if (r != null) return unescape(r[2]);
              return null;
          }
          var group = getQueryString("group");
          var drawList = [],users = [], user = {};

          document.getElementById('login').addEventListener('click', function () {
            var value = prompt("请输入名称");
            user = {name: value};
            socket.emit("login", user);
          });
        </script>
        <script src="../../data.js" charset="utf-8"></script>
        <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.slim.js"></script>
        <script src="./canvas.js" charset="utf-8"></script>
        <script src="./socket.js" charset="utf-8"></script>
        <script src="./question.js" charset="utf-8"></script>
    </body>

</html>
